# Домашнее задание «Функции и работа с данными»

Задание
Вопросы по заданию
Преподаватель: Константин Башевой

**Домашнее задание к лекции.

## Задание 1
**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [19]:
import pandas as pd

#для датасета ml-latest-small.zip

data = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

def rating_classification(rating):
    if rating > 4.0:
        return 'высокий рейтинг'
    elif rating > 2.0:
        return 'средний рейтинг'
    else: 
        return 'низкий рейтинг'

data['class'] = data['rating'].apply(rating_classification)
result = data.merge(movies, on='movieId', how='left')
result.head(10)

,userId,movieId,rating,timestamp,class,title,genres
0,1,31,2.5,1260759144,средний рейтинг,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,средний рейтинг,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,средний рейтинг,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,низкий рейтинг,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,средний рейтинг,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama
5,1,1263,2.0,1260759151,низкий рейтинг,"Deer Hunter, The (1978)",Drama|War
6,1,1287,2.0,1260759187,низкий рейтинг,Ben-Hur (1959),Action|Adventure|Drama
7,1,1293,2.0,1260759148,низкий рейтинг,Gandhi (1982),Drama
8,1,1339,3.5,1260759125,средний рейтинг,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller
9,1,1343,2.0,1260759131,низкий рейтинг,Cape Fear (1991),Thriller

## Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [76]:
import pandas as pd

def remove_ending_of_cities(dic_geo_data):
    #если город с другим окончанием... 
    for key in dic_geo_data:
        for i in range(len(dic_geo_data[key])):
            dic_geo_data[key][i] = dic_geo_data[key][i][:-1]
    return dic_geo_data

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }


def geo_classification(row):
    for key in geo_data:
        for cities in geo_data[key]:
            if cities in row['keyword']:
                return key
            else:
                continue


data = pd.read_csv('keywords.csv')

geo_data = remove_ending_of_cities(geo_data)
       
data.loc[:,'region'] = data.apply(geo_classification, axis=1)        
data.fillna('undefined', inplace = True)

data.head(10)

                    keyword     shows        region
0                        вк  64292779     undefined
1             одноклассники  63810309     undefined
2                     порно  41747114     undefined
3              авито москвы    979292         Центр
4               спортмастер    968154     undefined
5  авито ру санкт петербург    425134  Северо-Запад
6               игры онлайн    588264     undefined
7     авито нижний новгород    421310     undefined
8                      циан    420257     undefined
9                  приват24    420065     undefined

## Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens ). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субъективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

P/S/ все файлы находятся в архиве «дополнительные файлы к лекции и дз»

Важно! При копировании юпитер ноутбука изменяет кавычки ’ на ` , что может способствовать ошибки в коде. В данной ситуации необходимо их просто заменить.

In [69]:
import pandas as pd

ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

years = []
for i in range(1950, 2011):
    years.append(i)

def production_year(row):
    for test_year in years:
        if str(test_year) in row['title']:
            return str(test_year)
        else:
            continue    
    
movies.loc[:,'year'] = movies.apply(production_year, axis = 1)
movies.fillna('1900', inplace = True)

ratings['average rating'] = ratings.groupby('movieId')['rating'].transform('mean')

ratings.head(10)

   userId  movieId  rating   timestamp  average rating
0       1       31     2.5  1260759144        3.178571
1       1     1029     3.0  1260759179        3.702381
2       1     1061     3.0  1260759182        3.545455
3       1     1129     2.0  1260759185        3.312500
4       1     1172     4.0  1260759205        4.260870
5       1     1263     2.0  1260759151        3.864583
6       1     1287     2.0  1260759187        3.891304
7       1     1293     2.0  1260759148        3.978261
8       1     1339     3.5  1260759125        3.298077
9       1     1343     2.0  1260759131        3.743590

In [91]:
joined = ratings.merge(movies, on='movieId', how='left')

joined['years rating'] = joined.groupby('year')['average rating'].transform('mean')
joined.head()

result = joined.sort_values('years rating', ascending=False)

result

,userId,movieId,rating,timestamp,average rating,title,genres,year,years rating
26367,195,1012,3.0,977754812,3.605263,Old Yeller (1957),Children|Drama,1957,4.014241
22143,153,932,5.0,1046739002,3.593750,"Affair to Remember, An (1957)",Drama|Romance,1957,4.014241
67424,472,1178,5.0,962171976,4.366667,Paths of Glory (1957),Drama|War,1957,4.014241
54751,391,1237,5.0,891533961,4.281250,"Seventh Seal, The (Sjunde inseglet, Det) (1957)",Drama,1957,4.014241
67441,472,1203,4.0,1017535172,4.304054,12 Angry Men (1957),Drama,1957,4.014241
...,...,...,...,...,...,...,...,...,...
78104,544,4034,4.5,1435790796,3.910959,Traffic (2000),Crime|Drama|Thriller,2000,3.356104
78103,544,4027,4.5,1435787238,3.875000,"O Brother, Where Art Thou? (2000)",Adventure|Comedy|Crime,2000,3.356104
5775,30,3751,4.0,986008260,3.429293,Chicken Run (2000),Animation|Children|Comedy,2000,3.356104
5776,30,3753,5.0,963756658,3.292308,"Patriot, The (2000)",Action|Drama|War,2000,3.356104
62275,452,3799,1.0,978405647,1.750000,Pokémon the Movie 2000 (2000),Animation|Children,2000,3.356104